@font-face {
  font-family: 'MangoDdobak-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MangoDdobak-L';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-L.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'April16th-Promise';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/April16th-Promise.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
body{
  background-color: #000;
}
nav {
  width: 100%;
  height: 7.1%;
  padding: 0.6% 0 1% 0 ;
  flex-grow: 0;
  background-color: #fff;
}
.title {
  flex-grow: 0;
  margin: 0.6% 59.4% 0.6% 2.5%;
  font-family: April16th-Promise;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
a:link{
  color: black;
  text-decoration: none;
}
a:visited{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
  text-decoration: none;
}
.link_home {
  flex-grow: 0;
  margin: 2.7% 2.3% 2.7% 0;
  font-family: MangoDdobak-L;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}
.link_pre-CSAT {
  flex-grow: 0;
  margin: 2.7% 2.3% 2.7% 0;
  font-family: MangoDdobak-L;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}
.link_API {
  flex-grow: 0;
  margin: 2.7% 2.3% 2.7% 0;
  font-family: MangoDdobak-L;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}
.link_about {
  flex-grow: 0;
  margin: 2.7% 2.3% 2.7% 0;
  font-family: MangoDdobak-L;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}
main {
  width: 100%;
  height: 92.9%;
  flex-grow: 0;
  padding-top: 5.4%;
  background-color: #000;
}
.date {
  flex-grow: 0;
  margin: 0 56.3% 9.1% 1.2%;
  font-family: MangoDdobak-B;
  font-size: 3rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}
.time {
  width: 648px;
  height: 96px;
  flex-grow: 0;
  margin: 0 1.8% 0 0;
  font-family: MangoDdobak-B;
  font-size: 3rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}
.victory_message{
  font-family: MangoDdobak-L;
  font-size: 4rem;
  text-align: right;
  margin: 7% 0 0 4.2%;
  color: #fff;
}
.timer{
  width: 24.5%;
  height: 27%;
  margin:  6% 0 0 13.5%;
  text-align: center;
  border-radius: 20px;
  border: solid 1px #000;
  background-color: #fff;
}
.Rectangle-1 {
  width: 45.1%;
  flex-grow: 0;
  padding-bottom: 1.8%;
  margin: 3.1% 0% 3.8% 3.3%;
  border-radius: 20px;
  border: solid 1px #000;
  background-color: #fff;
}
.row {
  display: flex;
  flex-direction: row;
}
.Close {
  width: 10px;
  height: 10px;
  flex-grow: 0;
  margin: 1.4% 1.1% 1.4% 2.3%;
  border-radius: 100%;
  background-color: #ff6767;
}
.Minimization {
  width: 10px;
  height: 10px;
  flex-grow: 0;
  margin: 1.4% 1.1% 1.4% 0;
  border-radius: 100%;
  background-color: #f7bd4d;
}
.Full-Screen {
  width: 10px;
  height: 10px;
  flex-grow: 0;
  margin: 1.5% 2.4% 1.4% 0;
  border-radius: 100%;
  background-color: #86f752;
}
.Suneung {
  flex-grow: 0;
  margin: 1.3% 2.8% 1.4% 0;
  font-family: MangoDdobak-B;
  font-size: 0.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.View {
  flex-grow: 0;
  margin: 1.5% 2.8% 1.4% 0;
  font-family: MangoDdobak-L;
  font-size: 0.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.Edit {
  flex-grow: 0;
  margin: 1.5% 2.8% 1.4% 0;
  font-family: MangoDdobak-L;
  font-size: 0.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.D-DAY {
  flex-grow: 0;
  margin: 1.5% 2.8% 1.4% 0;
  font-family: MangoDdobak-L;
  font-size: 0.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.Vector-1 {
  width: 100%;
  height: 1px;
  flex-grow: 0;
  background-color: #000;
}
.CSAT-2025-text {
  width: 100%;
  height: 15.6%;
  flex-grow: 0;
  margin: 2% 0 2.6% 0;
  font-family: April16th-Promise;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.D-Day-2025 {
  width: 88.2%;
  height: 40%;
  flex-grow: 0;
  margin: 0 0 14.8% 21%;
  font-family: April16th-Promise;
  font-size: 3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.Rectangle-28 {
  width: 58%;
  height: 16%;
  flex-grow: 0;
  margin: 0 15% 1% 21%;
  padding: 1% 0 1.5%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}
hr{
  margin: 0 0 1% 0;
}
.about_title {
  width: 29.1%;
  height: 24.8%;
  flex-grow: 0;
  margin: 13.5% 0 9.6% 36.5%;
  font-family: MangoDdobak-B;
  font-size: 2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.47;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.about_text1 {
  width: 100%;
  height: 39.1%;
  flex-grow: 0;
  margin: 0 0 0 17%;
  font-family: MangoDdobak-L;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.about_text2 {
  width: 100%;
  height: 39.1%;
  flex-grow: 0;
  margin: 0 0 0 13.5%;
  font-family: MangoDdobak-L;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.row-profile {
  padding: 1% 0 1% 10%;
  display: flex;
  flex-direction: row;
}
.DEV-TEAM {
  width: 18.5%;
  height: 5.3%;
  font-family: MangoDdobak-L;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0 0 41%;
  color: #fff;
}
.DESIGN-TEAM {
  width: 18.5%;
  height: 5.3%;
  font-family: MangoDdobak-L;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0 0 38.5%;
  color: #fff;
}
.profile-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7); /* 회색 배경 */
  padding: 2%; /* %로 변경 */
  width: 39%; /* 컨테이너 너비 설정 */
  margin: 0 0 0 1%; /* 가운데 정렬 */
  border-radius: 20px;
}

.profile-image {
  width: 40%; /* %로 변경 */
  margin-right: 5%; /* %로 변경 */
}
.profile-text {
  font-family: MangoDdobak-L;
  text-align: center;
  width: 80%; /* 텍스트 영역 너비 설정 */
}
.profile-text h2 {
  font-family: MangoDdobak-L;
  margin-bottom: 1%; /* %로 변경 */
  text-align: center;
}
.nickname{
  margin: 0 0 0 0;
}